
git+https://github.com/ChaoningZhang/MobileSAM.git
scikit-fmm
ultralytics==8.2.73
transforms3d
protobuf==3.20.1
git+https://github.com/xb534/SED/#subdirectory=open_clip
scikit-learn
spock-config==3.1.0
